/*Formulaire de login*/
.corps{
  margin-top: auto;
  margin-bottom: auto;
  background-color:rgb(4, 3, 73);
  }

  .card-header h3{
  color: white;
  }

  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }

  .input-group-prepend span{
  width: 50px;
  background-color:rgb(4, 3, 73) ;
  color: white;
  border:1px solid yellow;
  }

  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

  }

  .remember{
  color: white;
  }

  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }

  .login_btn{
  color: yellow;
  background-color: rgb(4, 3, 73);
  width: 100px;
  border:1px solid yellow;
  }

  .login_btn:hover{
  color: yellow;
  background-color: rgb(4, 3, 73);
  }

  .links{
  color: white;
  }
  .links >a,a{
    color: yellow;
  }

  .links a{
  margin-left: 4px;
  }
  .btn{
    background-color:rgb(4, 3, 73);
  }
  .btn >i{
    color:white;
  }
