/*Formulaire de login*/
.card{
height: 250px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color:rgb(4, 3, 73);
}

.card-header h3{
color: white;
font-size: 15px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color:rgb(4, 3, 73) ;
color: white;
border:1px solid yellow;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.links{
color: yellow;
font-size: 13px;
font-style: italic;

}

.btn{
  background-color:rgb(4, 3, 73);
}

/* ------------ section top header ---------*/
.appel{
  text-align: center;
  padding: 10px 10px 0 0;
}
.appel> a{
  text-decoration: none;
  color:rgb(4, 2, 134);
  font-weight: bold;
}

.reseaux{
  text-align: center;
  padding: 10px 10px 0 0;
}
.reseaux > a{
  color:rgb(4, 2, 134);
}

.connect{
  text-align: center;
  margin-left: 10px;
}
.connect > a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-style:inherit;
  color:rgb(4, 2, 134);
}



/*----------section logo et navigation-----------*/
.navbar-brand > img{
  border-radius: 2%;
  height: 50px;
}
.menu{
  border: 0px solid  red;
  margin-right:120px;
  font-weight: bold;
}
.navbar{
  background-color:rgb(4, 3, 73);
}
.nav-link{
  color:yellow !important;
}
.nav-link:hover{
  color:white!important;
}
.dropdown-menu{
  background-color:rgb(4, 3, 73);
}
.dropdown-item{
  color:yellow !important;
  text-transform: uppercase !important;
  font-size: 13px;
  font-weight: bold;
}
.dropdown-item:hover{
  background-color:rgb(4, 3, 73);
  color:white!important;
}
.btn{
  border:1px solid yellow;
  color:white;
}
