
<!---------section top header--------->
  <div class="container-fluid">
    <div class="navbar navbar-light bg-light">
      <div class="call">
        <a href="#"><i class="bi bi-telephone-fill m-3"> call : +237 698 791 492 </i></a>
      </div>
      <div class="social">
       <a href="#"><i class="bi bi-facebook m-3"></i></a>
       <a href="#"><i class="bi bi-twitter m-3"></i></a>
       <a href="#"><i class="bi bi-linkedin m-3"></i></a>
       <a href="#"><i class="bi bi-instagram m-3"></i></a>
       <a href="#"><i class="bi bi-youtube m-3"></i></a>
      </div>
      <div class="connexion">
       <a href="" class="m-3" >se connecter</a>
       <a href="#"  class="m-3">S'inscrire</a>
      </div>
    </div>
  <div>
<!---------/section top header--------->
<!---------navigation et logo --------->
<div class="container-fluid" style="background-color:rgb(4, 3, 73);">
  <div class="navbar  navbar-light">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.jpg" alt="logo" ></a>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" style="background-color:white; border:2px solid yellow" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon " ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " href="">ACCUEIL</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >
                    ENTREPRISE
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="" >Partenaires</a></li>
                    <li><a class="dropdown-item" href="#">Assurances</a></li>
                    <li><a class="dropdown-item" href="#">A Propos</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >
                    SERVICES
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Location</a></li>
                    <li><a class="dropdown-item" href="#">Reparation</a></li>
                    <li><a class="dropdown-item" href="#">Installation</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
  </div>
</div>
<!---------/navigation et logo--------->
