
/* ------------ section top header ---------*/
.call{
  border: 0px solid  red;
  margin-left:120px;
}
.call > a{
  text-decoration: none;
  color:rgb(4, 2, 134);
}
.social{
  border: 0px solid  red;
  font-weight: bold;
  margin-right: 950px;
}
.social > a{
  color:rgb(4, 2, 134);
}
.connexion{
  border: 0px solid  red;
  font-weight: bold;
  margin-right: 130px;
}
.connexion > a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-style:inherit;
  color:rgb(4, 2, 134);
}



/*----------section logo et navigation-----------*/
.navbar-brand > img{
  border-radius: 50%;
  height: 80px;
  margin-left: 200px;
}
.menu{
  border: 0px solid  red;
  margin-right:120px;
  font-weight: bold;
}
.navbar{
  background-color:rgb(4, 3, 73);
}
.nav-link{
  color:yellow !important;
}
.nav-link:hover{
  color:white!important;
}
.dropdown-menu{
  background-color:rgb(4, 3, 73);
}
.dropdown-item{
  color:yellow !important;
  text-transform: uppercase !important;
  font-size: 13px;
  font-weight: bold;
}
.dropdown-item:hover{
  background-color:rgb(4, 3, 73);
  color:white!important;
}
.btn{
  border:1px solid yellow;
  color:white;
}
