<!---------navigation et logo --------->
<div class="container-fluid" style="background-color:rgb(4, 3, 73);">
  <div class="navbar  navbar-light">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.jpg" alt="logo" ></a>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" style="background-color:white; border:2px solid yellow" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon " ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " routerLink="/">ACCUEIL</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >
                    ENTREPRISE
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="" >Partenaires</a></li>
                    <li><a class="dropdown-item" href="#">Assurances</a></li>
                    <li><a class="dropdown-item" href="#">A Propos</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >
                    SERVICES
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Location</a></li>
                    <li><a class="dropdown-item" href="#">Reparation</a></li>
                    <li><a class="dropdown-item" href="#">Installation</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >
                    PRENDRE RENDEZ-VOUS
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">pour instalation</a></li>
                    <li><a class="dropdown-item" href="#">pour réservation</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contacter">CONTACT</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline" type="submit">Search</button>
                <div class="connect">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-person-fill"></i>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="card w-100">
                              <div class="card-header">
                                <h3>AUTHENTIFICATION</h3>
                              <div class="card-body">
                                <form>
                                  <div class="form-group">
                                      <div class="d-flex justify-content-center p-3 links">
                                        J'ai dejà un compte...?
                                      </div>
                                    <a routerLink="/connexion"><button class="btn float-right login_btn">Se connecter</button></a>
                                  </div>
                                  <div class="form-group">
                                     <div class="d-flex justify-content-center p-3 links">
                                       Je n'ai pas de compte...?
                                     </div>
                                    <a routerLink="/inscription"><button class="btn float-right login_btn">S'inscrire</button></a>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
       </nav>
  </div>
</div>
<!---------/navigation et logo--------->
