/* ---------espace carrousel----------*/
.titreCarrousel{
  font-weight: bold;
  font-size:15px;
  color:rgb(4, 3, 73);
  text-transform: uppercase;
  font-family: unset;
}
.soustitreCarousel{
  font-size:13px;
  color:yellow;
  font-weight: bold;

}


/*Formulaire de login*/
.corps{
  background-color:white;
  }
.corps1{
  background-color:white;
  float: left;
  }
  .card-header h3{
  color: rgb(4, 3, 73) ;
  font-size: 15px;
  font-weight: bold;
  }

  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }

  .input-group-prepend span{
  width: 50px;
  background-color:rgb(4, 3, 73) ;
  color: white;
  border:1px solid yellow;
  }

  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

  }

  .remember{
  color: white;
  }

  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }

  .login_btn{
  color: yellow;
  background-color: rgb(4, 3, 73);
  width: 100px;
  border:1px solid yellow;
  }

  .login_btn:hover{
  color: yellow;
  background-color: rgb(4, 3, 73);
  }

  .links{
  color: white;
  }
  .links >a,a{
    color: yellow;
  }

  .links a{
  margin-left: 4px;
  }
  .btn{
    background-color:rgb(4, 3, 73);
  }
  .btn >i{
    color:white;
  }

  .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgb(4, 3, 73);
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: rgb(4, 3, 73);
    color: #fff;
}
.btn-twitter {
    background-color: rgb(4, 3, 73);
    color: #fff;
}


.messageInscription{
  margin-left:-15px;
  margin-top: 16px;
  height: 589px;
  background-color: white;
  width: 868px;
}
