  <!---------espace carousel--------->
  <div class="container-fluid " style="background-color:rgb(4, 3, 73);">
    <div id="carouselExampleDark" class="carousel carousel-dark slide w-100 " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://st2.depositphotos.com/1036149/9060/i/600/depositphotos_90601786-stock-photo-robot-and-car-on-white.jpg" height="200px" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="titreCarrousel">Contactez-nous</h1>
            <h5 class="soustitreCarousel">Vous êtes ici : ACCUEIL / Contact</h5>
          </div>
        </div>
      </div>
    </div>
</div>
<!---------/espace carousel--------->


<!--formulaire d'inscription-->
<div class="container-fluid" style="background-color:rgb(4, 3, 73);">
  <div class="row">
     <div class="d-inline col-5 m-3 corps ">
        <div class="card-header">
            <h3>Contacter</h3>
        </div>
        <p class="text-center pt-3">Laissez-nous votre message</p>
        <div class="card-body">
        <form>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Nom...">
          </div>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Prenom...">
          </div>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Email...">
          </div>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="bi bi-telephone-forward"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Téléphone...">
          </div>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="bi bi-house"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Adresse...">
          </div>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="bi bi-chat"></i></span>
            </div>
            <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Message..."></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Envoyer" class="btn float-right login_btn">
          </div>
        </form>
     </div>
  </div>
  <div class="messageInscription">

  </div>
</div>

