<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMART DRIVING</title>
</head>
<body>
    <!--header-->
      <header>
          <app-tete></app-tete>
          <app-caroussel></app-caroussel>
      </header>
    <!---/header-->
      <aside>
        <app-services></app-services>
      </aside>

      <footer>
        <app-pied></app-pied>
      </footer>
</body>
</html>
