/*--------------nos partenaires------------*/
.service{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 40px;
  color:rgb(4, 3, 73);
  font-weight: bold;
}
.premierVente{
  padding-top: 40px;
  text-align: center;
}
.deuxiemeLocation{
  padding-top: 40px;
  text-align: center;
}
.troisiemeReparation{
  padding-top: 40px;
  text-align: center;
}
.textif{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color:rgb(4, 3, 73);
  font-weight: bold;
  padding-top: 20px;
}


.btn{
  background-color:rgb(4, 3, 73);
  color:white;
}
