 <!---------nos services--------->
 <div class="container-fluid">
  <h1 class="service">Nos services</h1>
 <div class="row">
   <div class=" container col-12 col-sm-12 col-md-4 col-lg-4 " >
       <div class="premierVente">
         <img src="assets/images/vente.png" alt="vente"  style="width: 15%;height: 80px;">
       </div>
       <div class="container">
         <h2 class="textif">location</h2>
         <p> dfdfsdfd fdfsdfd dfsfsdf sdfdfsdf fsfsdfsd sdfsdfsdf fsdfsdf sdfsdfsd sdfsdfsd sdfsdfsd fsdfsdf hhhshhs hshhshhs hshhshhs hshhshhs hshshhs shshhshhs hshshhs hshshhs
           hsjsjjs jsjsjjs qjsjjsjs sjsjjsjqjq hsjsjjs jsbsqjjs sjsjsjjs jsjsjjq sjsjsjjs sjsjsjjs sjsjsjj sjqsjsjjs sjsjsjjs sjsjjsjs gdgdgdggd dgdgdggd dgdgdggd dtdgdgd
         </p>
       </div>
       <div class="container">
         <a href=""><button class="voir">VOIR PLUS</button></a>
       </div>
   </div>

   <div class=" container col-12 col-sm-12 col-md-4 col-lg-4 " >
       <div class="deuxiemeLocation">
         <img src="assets/images/location.png" alt="location"  style="width: 15%;height: 80px;">
       </div>
       <div class="container">
         <h2 class="textif">instalation</h2>
         <p> dfdfsdfd fdfsdfd dfsfsdf sdfdfsdf fsfsdfsd sdfsdfsdf fsdfsdf sdfsdfsd sdfsdfsd sdfsdfsd fsdfsdf hhhshhs hshhshhs hshhshhs hshhshhs hshshhs shshhshhs hshshhs hshshhs
           hsjsjjs jsjsjjs qjsjjsjs sjsjjsjqjq hsjsjjs jsbsqjjs sjsjsjjs jsjsjjq sjsjsjjs sjsjsjjs sjsjsjj sjqsjsjjs sjsjsjjs sjsjjsjs gdgdgdggd dgdgdggd dgdgdggd dtdgdgd
         </p>
       </div>
       <div class="container">
         <a href=""><button class="voir">VOIR PLUS</button></a>
       </div>

   </div>

   <div class="container col-12 col-sm-12 col-md-4 col-lg-4 " >
       <div class="troisiemeReparation">
         <img src="assets/images/reparation.png" alt="reparation" style="width: 15%;height: 80px;">
       </div>
       <div class="container">
         <h2 class="textif">reparation</h2>
         <p> dfdfsdfd fdfsdfd dfsfsdf sdfdfsdf fsfsdfsd sdfsdfsdf fsdfsdf sdfsdfsd sdfsdfsd sdfsdfsd fsdfsdf hhhshhs hshhshhs hshhshhs hshhshhs hshshhs shshhshhs hshshhs hshshhs
           hsjsjjs jsjsjjs qjsjjsjs sjsjjsjqjq hsjsjjs jsbsqjjs sjsjsjjs jsjsjjq sjsjsjjs sjsjsjjs sjsjsjj sjqsjsjjs sjsjsjjs sjsjjsjs gdgdgdggd dgdgdggd dgdgdggd dtdgdgd
         </p>
       </div>
       <div class="container">
         <a href=""><button class="voir">VOIR PLUS</button></a>
       </div>
   </div>
 </div>
</div>
<!---------/nos services-------->
