  <!---------espace carousel--------->
  <div class="container-fluid " style="background-color:rgb(4, 3, 73);">
    <div id="carouselExampleDark" class="carousel carousel-dark slide w-100 " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://st2.depositphotos.com/1036149/9060/i/600/depositphotos_90601786-stock-photo-robot-and-car-on-white.jpg" height="200px" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="titreCarrousel">Se conneceter à son compte</h1>
            <h5 class="soustitreCarousel">Vous êtes ici : ACCUEIL / Se connecter</h5>
          </div>
        </div>
      </div>
    </div>
</div>
<!---------/espace carousel--------->


<!--formulaire d'inscription-->
<div class="container-fluid" style="background-color:rgb(4, 3, 73);">
  <div class="row">
     <div class="d-inline col-5 m-3 corps ">
        <div class="card-header">
            <h3>SE CONNECTER</h3>
        </div>
        <h4 class="card-title mt-3 text-center">Connectez-vous à votre compte</h4>
        <p class="text-center">connexion via</p>
        <p class="text-center">
          <a href="" class="btn btn-block btn-twitter m-3"> <i class="bi bi-google"></i>   Login via Google</a>
          <a href="" class="btn btn-block btn-facebook"> <i class="bi bi-facebook"></i>   Login via Facebook</a>
        </p>
        <p class="divider-text">
              <span class="bg-light">OR</span>
        </p>
        <div class="card-body">
        <form>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="non d'utilisateur...">
          </div>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="bi bi-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Email...">
          </div>
          <div class="input-group form-group p-2">
            <div class="input-group-prepend ">
              <span class="input-group-text"><i class="bi bi-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="mot de passe...">
          </div>
          <div class="form-group">
            <input type="submit" value="Se connecter" class="btn float-right login_btn">
          </div>
          <p class="text-center">Je n'ai pas un compte ? <a routerLink="/inscription" style="color:rgb(4, 3, 73); text-decoration: none; font-weight: bold;">S'inscrire</a> </p>
        </form>
     </div>
  </div>
  <div class="messageInscription">

  </div>
</div>

