/* ---------espace carrousel----------*/
.titreCarrousel{
  font-weight: bold;
  font-size:30px;
  color:white;
  text-transform: uppercase;
  font-family: unset;
}
.soustitreCarousel{
  font-size:30px;
  color:white;

}
