/* ---------espace carrousel----------*/
.titreCarrousel{
  font-weight: bold;
  font-size:30px;
  color:white;
  text-transform: uppercase;
  font-family: unset;
}
.soustitreCarousel{
  font-size:30px;
  color:white;

}
/*--------------nos services------------*/
.service{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 40px;
  color:rgb(4, 3, 73);
  font-weight: bold;
}
.premierVente{
  padding-top: 40px;
  text-align: center;
}
.deuxiemeLocation{
  padding-top: 40px;
  text-align: center;
}
.troisiemeReparation{
  padding-top: 40px;
  text-align: center;
}
.textif{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color:rgb(4, 3, 73);
  font-weight: bold;
  padding-top: 20px;
}
.voir{
  background-color: black;
  border:0 solid red;
  color:white;
  font-weight: bold;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
